* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
}

main {
    width: 100vw;
    height: 100%;
    color: var(--primer-color);
    background: url(../pokeApi/assets/wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #585555d3;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}